h1 {
  /* Add your styles here */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 50px;

}
.input-group{
    
    margin: 50px;


}



